
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:linear-gradient(
180deg,
#ffd6ec,
#ffe6f2,
#fff0f7
);

font-family:sans-serif;
overflow-x:hidden;
min-height:100vh;
}

.container{
padding:30px;
text-align:center;
}

h1{
font-size:2rem;
color:#ff4fa0;
margin-bottom:10px;
animation:float 3s infinite ease-in-out;
}

.subtitle{
color:#b84d84;
margin-bottom:25px;
}

.slider{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
}

.slide-container{
width:90%;
max-width:400px;
}

.slide-container img{
width:100%;
border-radius:25px;
box-shadow:0 10px 30px rgba(255,0,100,.2);
transition:.5s;
}

.btn{
border:none;
background:#ff89c7;
color:white;
font-size:24px;
width:45px;
height:45px;
border-radius:50%;
cursor:pointer;
}

.counter{
margin-top:15px;
color:#d43b8e;
font-weight:bold;
}

#musicBtn{
position:fixed;
bottom:20px;
right:20px;

border:none;
background:#ff5db1;
color:white;
padding:12px 20px;

border-radius:30px;

font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.flowers{
position:fixed;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
}

.flower{
position:absolute;
font-size:22px;
animation:fall linear infinite;
}

@keyframes fall{

0%{
transform:translateY(-100px) rotate(0deg);
}

100%{
transform:translateY(120vh) rotate(360deg);
}

}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-8px);
}

}

@media(max-width:768px){

h1{
font-size:1.7rem;
}

}